<h2>Вариант реализации БД</h2>
<p>Т.к. в написании Web-приложений я работаю с инструментами ASP.NET core использую методику Code-first (где таблицы БД представленны в виде "Классов")</p>
<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <img src="src/img/image3.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Таблица "продуктов"</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <img src="src/img/image4.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Таблица "Клиентов"</h5>
            </div>
        </div>
    </div>
</div>