html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.full-screen-card {
    height: 100vh; /* Занимает всю высоту экрана */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Выравнивает карточку по верху */
    align-items: center; /* Центрирует карточку по горизонтали */
}

.card {
    width: 100%; /* Растягивает карточку по ширине */
    max-width: 600px; /* Ограничивает максимальную ширину */
    margin-top: 20px; /* Добавляет отступ сверху */
}